<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Plan</title>
</head>
<body>
    <h1>Travel Plan</h1>

    <form action="/add" method="post">
        <div>
            <label for="travel_start_time">travel plan start date</label>

            <input type="text" name="travel_start_time" placeholder="Enter your start date"></input>

            <label for="travel_end_time">travel plan end date</label>

            <input type="text" name="travel_end_time" placeholder="Enter your end date"></input>

            <label for="travel_location">travel plan location</label>

            <input type="text" name="travel_location" placeholder="Enter your target location"></input>


            <br>
            <button type="submit">Add plan</button>
        </div>
    </form>


    {% for plan in plan_list %}
        <p> {{ plan.id }} | {{plan.travel_start_time}} | {{plan.travel_end_time}} | {{plan.travel_location}}</p>

        {% if plan.plan_completed == False %}
            <span>This plan is not complete</span>
        {% else %}
            <span>This plan is completed</span>
        {% endif %}

        <a href="/update/{{ plan.id }}">Update</a>
        <a href="/delete/{{ plan.id }}">Delete</a>

    {% endfor %}
</body>
</html>